:root {
    --carrotorange: #ed9121;
    --crimson: #db143d;
    --denim: #1561bd;
    --green: #009900;
    --magentapink: #cc3388;
    --melon: #f3e0dc;
}


.REFERENCE {
    position: relative;
    padding: 20px;
    padding-top: 40px; /* Make space for the title bar */
    background-color: #f3e0dc;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
}

.REFERENCE:before {
    content: "Reference(s):";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-align: left;
    border-top-left-radius: 8px; /* Slightly less than the box to fit inside */
    border-top-right-radius: 8px; /* Slightly less than the box to fit inside */
    font-family: sans-serif;
}

.TESTING {
    position: relative;
    padding: 20px;
    padding-top: 40px; /* Make space for the title bar */
    background-color: #badbff;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-family: sans-serif;
}

.TESTING:before {
    content: "Test Strategy:";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-align: left;
    border-top-left-radius: 8px; /* Slightly less than the box to fit inside */
    border-top-right-radius: 8px; /* Slightly less than the box to fit inside */
    font-family: sans-serif;
}

.container {
    display: inline-block;
    vertical-align: middle;
    padding: pt;
    border: 1pt solid black;
}

.lbl-basic {
    display: inline-block;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 16pt;
    border: 1pt solid white;
}

.lbl-tag {
    @extend .lbl-basic;
    margin-left: 2pt;
    text-align: left;
    float: right;
}

.lbl-critical {
    @extend .lbl-basic;
    color: white;
    background-color: var(--crimson);
    float: left;
}

.lbl-high {
    @extend .lbl-basic;
    color: white;
    background-color: var(--carrotorange);
    float: left;
}

.lbl-medium {
    @extend .lbl-basic;
    color: white;
    background-color: var(--denim);
    float: left;
}

.lbl-low {
    @extend .lbl-basic;
    color: white;
    background-color: var(--green);
    float: left;
}

.lbl-defect {
    @extend .lbl-basic;
    color: white;
    background-color: #cc3388;
    float: left;
}
